img { border-radius: 50%;
align-items: center;
max-width: 100%;
width: 100px;}

.card
{
    padding: 10px;
    text-align: center;
    margin: 1em auto;
    border: 5px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    max-width: 20em;
}



