<div>
    <img src="https://img.freepik.com/vetores-premium/icone-de-perfil-de-avatar-padrao-imagem-de-usuario-de-midia-social-icone-de-avatar-cinza-silhueta-de-perfil-em-branco-ilustracao-vetorial_561158-3407.jpg?w=1060" />

<h3>Domingos Capewa</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos explicabo blanditiis, nisi, nam laborum ullam inventore excepturi pariatur nemo, voluptatum similique temporibus praesentium velit sapiente iste quis tempora. Odio, officiis.</p>
</div>