img { border-radius: 6%;
align-items: center;
max-width: 100%;
width: 100px;}

div
{
    padding: 10px 10px 10px;
    text-align: center;
     margin: 1em auto;
       border: 5px solid #999;
  border-radius: 3px;
 
     
}
